# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# default owners, overridden by package specific owners below
* @celo-org/default-owners

# directory and file-level owners. Feel free to add to this!

.github/actions/ @celo-org/devopsre
.github/workflows/ @celo-org/devopsre


/packages/cli/ @celo-org/devtooling
/packages/docs/ @celo-org/devtooling @celo-org/primitives @celo-org/devrel
/packages/metadata-crawler/ @celo-org/devopsre
/packages/sdk/ @celo-org/devtooling
