# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For details on acceptable file patterns, please refer to the [Github Documentation](https://help.github.com/articles/about-codeowners/)

# default owners, overridden by package specific owners below
* @asaj @cmcewen @timmoreton

# directory and file-level owners. Feel free to add to this!
/packages/attestation-proxy/ @jmrossy 
/packages/attestation-service/ @nambrot
/packages/azure/ @codyborn
/packages/blockchain-api/ @jmrossy @cmcewen @i1skn @jeanregisser
/packages/celotool/ @asaj
/packages/cli/ @mcortesi @gastonponti @medhak1 @celo-org/devx
/packages/sdk/ @mcortesi @gastonponti @medhak1 @barbaraliau @celo-org/devx
/packages/dappkit/ @cmcewen @barbaraliau @celo-org/devx
/packages/dev-utils/ @mcortesi
/packages/docs/ @timmoreton @barbaraliau @critesjosh 
/packages/faucet/ @eelanagaraj @celo-org/devx
/packages/helm-charts/ @nambrot @timmoreton
/packages/metadata-crawler/ @aaitor
/packages/mobile/ @jeanregisser @cmcewen @jmrossy @i1skn 
/packages/moonpay-auth/ @annakaz @i1skn 
/packages/notification-service/ @annakaz @cmcewen @i1skn @jeanregisser
/packages/phone-number-privacy/ @jmrossy
/packages/protocol/ @asaj @nategraf
/packages/react-components/ @jmrossy @aaronmgdr
/packages/reserve-site/ @aaronmgdr
/packages/terraform-modules-public/ @tkporter
/packages/terraform-modules/ @tkporter
/packages/typescript/ @cmcewen
/packages/sdk/utils/ @barbaraliau @medhak1 @celo-org/devx
/packages/sdk/base/ @barbaraliau @medhak1 @celo-org/devx
/packages/web/validator-badges @cla-bel @bohan-zhang @pranaymohan
/packages/web/openpgpkey @nategraf
/packages/web/ @aaronmgdr
