node_modules
**/node_modules
*node_modules

# logs
yarn-error.log
npm-debug.log

# root folders
.github
dockerfiles
.vscode

# not docker packages
packages/blockchain-api
packages/docs
packages/faucet
packages/helm-charts
packages/mobile
packages/react-components
packages/dappkit
packages/notification-service
packages/web
