node_modules
**/node_modules
*node_modules

# logs
yarn-error.log
npm-debug.log

# root folders
.github
dockerfiles
.vscode

# not docker packages
packages/blockchain-api
packages/docs
packages/faucet
packages/mobile
packages/react-components
packages/notification-service
packages/web

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json

