*.sol linguist-language=Solidity
packages/docs/developer-resources/base/reference/**/*.md  -diff -merge
packages/docs/developer-resources/base/reference/**/*.md  linguist-generated=true
packages/docs/developer-resources/connect/reference/**/*.md  -diff -merge
packages/docs/developer-resources/connect/reference/**/*.md  linguist-generated=true
packages/docs/developer-resources/contractkit/reference/**/*.md  -diff -merge
packages/docs/developer-resources/contractkit/reference/**/*.md  linguist-generated=true
packages/docs/developer-resources/explorer/reference/**/*.md  -diff -merge
packages/docs/developer-resources/explorer/reference/**/*.md  linguist-generated=true
packages/docs/developer-resources/governance/reference/**/*.md  -diff -merge
packages/docs/developer-resources/governance/reference/**/*.md  linguist-generated=true
packages/docs/developer-resources/identity/reference/**/*.md  -diff -merge
packages/docs/developer-resources/identity/reference/**/*.md  linguist-generated=true
packages/docs/developer-resources/network-utils/reference/**/*.md  -diff -merge
packages/docs/developer-resources/network-utils/reference/**/*.md  linguist-generated=true
packages/docs/developer-resources/transactions-uri/reference/**/*.md  -diff -merge
packages/docs/developer-resources/transactions-uri/reference/**/*.md  linguist-generated=true
packages/docs/developer-resources/utils/reference/**/*.md  -diff -merge
packages/docs/developer-resources/utils/reference/**/*.md  linguist-generated=true
packages/docs/developer-resources/wallet-base/reference/**/*.md  -diff -merge
packages/docs/developer-resources/wallet-base/reference/**/*.md  linguist-generated=true
packages/docs/developer-resources/wallet-hsm/reference/**/*.md  -diff -merge
packages/docs/developer-resources/wallet-hsm/reference/**/*.md  linguist-generated=true
packages/docs/developer-resources/wallet-hsm-aws/reference/**/*.md  -diff -merge
packages/docs/developer-resources/wallet-hsm-aws/reference/**/*.md  linguist-generated=true
packages/docs/developer-resources/wallet-hsm-azure/reference/**/*.md  -diff -merge
packages/docs/developer-resources/wallet-hsm-azure/reference/**/*.md  linguist-generated=true
packages/docs/developer-resources/wallet-ledger/reference/**/*.md  -diff -merge
packages/docs/developer-resources/wallet-ledger/reference/**/*.md  linguist-generated=true
packages/docs/developer-resources/wallet-local/reference/**/*.md  -diff -merge
packages/docs/developer-resources/wallet-local/reference/**/*.md  linguist-generated=true
packages/docs/developer-resources/wallet-remote/reference/**/*.md  -diff -merge
packages/docs/developer-resources/wallet-remote/reference/**/*.md  linguist-generated=true
packages/docs/developer-resources/wallet-rpc/reference/**/*.md  -diff -merge
packages/docs/developer-resources/wallet-rpc/reference/**/*.md  linguist-generated=true
# packages/docs/command-line-interface/**/*.md  -diff -merge
# packages/docs/command-line-interface/**/*.md  linguist-generated=true
