[submodule "packages/protocol/lib/solidity-bytes-utils"]
	path = packages/protocol/lib/solidity-bytes-utils
	url = https://github.com/GNSPS/solidity-bytes-utils
[submodule "packages/protocol/lib/openzeppelin-contracts"]
	path = packages/protocol/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/protocol/lib/mento-core"]
	path = packages/protocol/lib/mento-core
	url = https://github.com/mento-protocol/mento-core
[submodule "packages/protocol/lib/memview.sol"]
	path = packages/protocol/lib/memview.sol
	url = https://github.com/summa-tx/memview.sol
[submodule "packages/protocol/lib/openzeppelin-contracts8"]
	path = packages/protocol/lib/openzeppelin-contracts8
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/protocol/lib/celo-foundry-8"]
	path = packages/protocol/lib/celo-foundry-8
	url = https://github.com/celo-org/celo-foundry
[submodule "packages/protocol/lib/celo-foundry"]
	path = packages/protocol/lib/celo-foundry
	url = https://github.com/celo-org/celo-foundry
	branch = celo-foundry-v0.5.13
