[submodule "packages/protocol/lib/celo-foundry"]
	path = packages/protocol/lib/celo-foundry
	url = https://github.com/bowd/celo-foundry
[submodule "packages/protocol/lib/solidity-bytes-utils"]
	path = packages/protocol/lib/solidity-bytes-utils
	url = https://github.com/GNSPS/solidity-bytes-utils
[submodule "packages/protocol/lib/openzeppelin-contracts"]
	path = packages/protocol/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/protocol/lib/mobiusV1"]
	path = packages/protocol/lib/mobiusV1
	url = https://github.com/mobiusAMM/mobiusV1
