package.json
**/.next
**/coverage
**/node_modules
**/privacy/*
.git/

packages/**/dist
packages/**/lib

# Needed because we have packages/celotool/src/lib
!packages/celotool/src/**

packages/docs/_book


# prettier eats Latex underscore escapting and doesn't seem to have an option to disable
packages/docs/celo-codebase/protocol/proof-of-stake/epoch-rewards.md

