package.json
**/.next
**/coverage
**/node_modules
**/privacy/*
.git/

packages/*/dist
packages/*/lib

packages/docs/_book
packages/mobile/src/geth/*.json

packages/protocol/build/
packages/protocol/types/
!packages/protocol/lib/**/*.ts
packages/protocol/scripts/**/*.js
packages/protocol/migrations/**/*.js
packages/protocol/test/**/*.js

packages/verification-pool-api/contracts/*.ts

packages/web/.next

# prettier eats Latex underscore escapting and doesn't seem to have an option to disable
packages/docs/celo-codebase/protocol/proof-of-stake/epoch-rewards.md

packages/mobile/android/app/build
packages/verifier/android/app/build
