package.json
**/.next
**/coverage
**/node_modules
**/privacy/*
.git/

packages/**/dist
packages/**/lib

# Needed because we have packages/celotool/src/lib
!packages/celotool/src/**

packages/docs/_book

packages/protocol/build/
packages/protocol/types/
!packages/protocol/lib/**/*.ts
packages/protocol/scripts/**/*.js
packages/protocol/migrations/**/*.js
packages/protocol/test/**/*.js


# prettier eats Latex underscore escapting and doesn't seem to have an option to disable
packages/docs/celo-codebase/protocol/proof-of-stake/epoch-rewards.md

