{{- if .Values.ingress.enabled -}}
{{- $fullName := include "common.fullname" . -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $fullName }}-rpc-ing
  labels:
{{ include "common.standard.labels" .  | indent 4 }}
    component: celo-fullnode-rpc-traffic-ing
{{- if .Values.ingress.annotations }}
  annotations:
{{- range $key, $value := .Values.ingress.annotations }}
    {{ $key }}: {{ $value | quote }}
{{- end }}
{{- end }}
spec:
  ingressClassName: {{ default "nginx" .Values.ingress.ingressClassName }}
  {{- if .Values.ingress.tls }}
  tls:
  {{- range .Values.ingress.tls }}
    - hosts:
      {{- range .hosts }}
      - {{ . }}
      {{- end }}
      secretName: {{ .secretName }}
  {{- end }}
{{- end }}
  rules:
  {{- range .Values.ingress.hosts }}
    - host: {{ . }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}-rpc
                port: rpc
  {{- end }}
{{- end }}
