blockscout:
  indexer:
    terminationGracePeriodSeconds: 60
    port: 4001
    strategy:
      rollingUpdate:
        maxSurge: 1
        maxUnavailable: 0
    db:
      name: blockscout
      connectionName: project:region:db-name
      # to be fetched from secrets
      # username: blockscout
      # password: password
      port: 5432
      proxy:
        host: 127.0.0.1
        port: 5432
        livenessProbe:
          enabled: false
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 5
        readinessProbe:
          enabled: false
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 5
        resources:
          requests:
            memory: 500Mi
            cpu: 700m
    poolSize: 30
    readinessProbe:
      enabled: true
      initialDelaySeconds: 10
      periodSeconds: 5
      timeoutSeconds: 5
      successThreshold: 1
      failureThreshold: 5
    livenessProbe:
      enabled: false
      initialDelaySeconds: 10
      periodSeconds: 5
      timeoutSeconds: 5
      successThreshold: 1
      failureThreshold: 5
    resources:
      requests:
        memory: 1000Mi
        cpu: 2
    erlangNodeName: blockscout-indexer
  api:
    port: 4000
    strategy:
      rollingUpdate:
        maxSurge: 1
        maxUnavailable: 20%
    autoscaling:
        maxReplicas: 10
        minReplicas: 2
        target:
          cpu: 70
    db:
      name: blockscout
      connectionName: project:region:db-name
      # to be fetched from secrets
      # username: blockscout
      # password: password
      port: 5432
      proxy:
        host: 127.0.0.1
        port: 5432
        livenessProbe:
          enabled: false
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 5
        readinessProbe:
          enabled: false
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 5
        resources:
          requests:
            memory: 500Mi
            cpu: 700m
    poolSize: 30
    readinessProbe:
      enabled: true
      initialDelaySeconds: 10
      periodSeconds: 5
      timeoutSeconds: 5
      successThreshold: 1
      failureThreshold: 5
    livenessProbe:
      enabled: true
      initialDelaySeconds: 10
      periodSeconds: 5
      timeoutSeconds: 5
      successThreshold: 1
      failureThreshold: 5
    resources:
      requests:
        memory: 500Mi
        cpu: 500m
    erlangNodeName: blockscout-api
  web:
    port: 4000
    strategy:
      rollingUpdate:
        maxSurge: 1
        maxUnavailable: 20%
    autoscaling:
      maxReplicas: 5
      minReplicas: 2
      target:
        cpu: 70
    db:
      name: blockscout
      connectionName: project:region:db-name
      # to be fetched from secrets
      # username: blockscout
      # password: password
      port: 5432
      proxy:
        host: 127.0.0.1
        port: 5432
        livenessProbe:
          enabled: false
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 5
        readinessProbe:
          enabled: false
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 5
        resources:
          requests:
            memory: 500Mi
            cpu: 700m
    poolSize: 30
    readinessProbe:
      enabled: true
      initialDelaySeconds: 10
      periodSeconds: 5
      timeoutSeconds: 5
      successThreshold: 1
      failureThreshold: 5
    livenessProbe:
      enabled: true
      initialDelaySeconds: 10
      periodSeconds: 5
      timeoutSeconds: 5
      successThreshold: 1
      failureThreshold: 5
    sourcify:
      enabled: true
      serverUrl: https://sourcify.dev/server
      repoUrl: https://repo.sourcify.dev/contracts
    resources:
      requests:
        memory: 250M
        cpu: 500m
    erlangNodeName: blockscout-web
    appsMenu:
      enabled: true
      externalApps: '[{"url":"https://valoraapp.com/", "title":"Valora"}, {"url":"https://celoterminal.com/", "title":"Celo Terminal"}, {"url":"https://celovote.com/", "title":"Celo Vote"}, {"url":"https://celowallet.app/", "title":"Celo Wallet"}]'
      bridges: '[{"url":"https://optics.xyz/", "title":"Optics"},{"url":"https://bridge.mobius.money/#/", "title": "Mobius"}, {"url":"https://app.allbridge.io/bridge", "title": "Allbridge"}]'
      otherBridges: '[]'
      bridgesAlm: '[]'
      defiList: '[{"url":"https://mento.finance/", "title":"Mento"}, {"url":"https://ubeswap.org/", "title":"Ubeswap"}, {"url":"https://app.sushi.com/swap", "title":"SushiSwap"}, {"url":"https://moola.market/", "title":"Moola Market"}, {"url":"https://app.pooltogether.com/pools/celo/CELO-cUSD", "title":"PoolTogether"}, {"url":"https://autofarm.network/celo/", "title":"Autofarm"}, {"url":"https://app.poof.cash/#/account", "title":"Poof Cash"}]'
      resourcesList: '[{"url":"https://docs.celo.org/", "title":"Celo Docs"}, {"url":"https://celoreserve.org/", "title":"Celo Reserve"}, {"url":"https://forum.celo.org/", "title":"Celo Forum"}, {"url":"https://celohub.org/", "title":"Celo Hub"}, {"url":"https://thecelo.com/", "title":"TheCelo"}, {"url":"https://stats.celo.org/", "title":"Celo Stats"}, {"url":"https://celo.org/validators/explore", "title":"Validators"}]'
      learningList: '[{"url": "https://celo.org/papers/whitepaper", "title":"Celo Whitepaper"}, {"url": "https://learn.figment.io/protocols/celo", "title":"Learn Celo"}, {"url": "https://celo.org/papers/stability", "title":"Celo Stability Analysis"}, {"url": "https://www.coinbase.com/price/celo", "title":"Coinbase Earn"}]'
    recaptchaSecretName: ""  # k8s secret that needs to pre-exist
  metadataCrawler:
    enabled: false
    schedule: "0 */2 * * *"
    image:
      repository: gcr.io/celo-testnet/celo-monorepo
      tag: metadata-crawler-77a392216d4927e85ce4b683508fc0539aa92a34
  archiveNodes:
    jsonrpcHttpUrl: http://tx-nodes-private:8545
    jsonrpcWsUrl: ws://tx-nodes-private:8545
  image:
    repository: gcr.io/celo-testnet/blockscout
    pullPolicy: IfNotPresent
    tag: v2.0.4-beta-celo
  healthyBlocksPeriod: 300
  db:
    drop: "false"
  grafanaUrl: https://clabs.grafana.net
  secrets:
    # Format:
    # secretName: gcp:secretmanager:projects/<project-id>/secrets/<env>-blockscout-<secret-key>
    # - <project-id> - numeric project id
    # - <env> - alfajores|baklava|rc1 etc.
    # - <secret-key> - name of the secret
    # Example: segmentKey: gcp:secretmanager:projects/365081401101/secrets/baklava-blockscout-segmentKey
    segmentKey: ""
    discordWebhookUrl: ""
    dbUser: ""
    dbPassword: ""
    dbUrl: ""
    recaptcha:
      projectId: ""
      siteKey: ""
      apiKey: ""
  chain:
    subnetwork: Celo
    networkID: 1101
  domainName: celo-testnet.org
  projectId: celo-testnet-production
