imagePullPolicy: IfNotPresent
blockscout:
  indexer:
    db:
      proxy:
        resources:
          requests:
            memory: 250Mi
            cpu: 200m
    pool_size: 20
    resources:
      requests:
        memory: 700Mi
        cpu: 1500m
  api:
    autoscaling:
        maxReplicas: 3
        minReplicas: 2
        target:
          cpu: 70
    db:
      proxy:
        resources:
          requests:
            memory: 250Mi
            cpu: 200m
    pool_size: 10
    resources:
      requests:
        memory: 250Mi
        cpu: 500m
  web:
    host: alfajores-blockscout.celo-testnet.org
    autoscaling:
      maxReplicas: 3
      minReplicas: 2
      target:
        cpu: 70
    db:
      proxy:
        resources:
          requests:
            memory: 250Mi
            cpu: 200m
    pool_size: 10
    resources:
      requests:
        memory: 250M
        cpu: 500m
  metrics:
    enabled: true
