imagePullPolicy: IfNotPresent
blockscout:
  indexer:
    terminationGracePeriodSeconds: 60
    port: 4001
    strategy:
      rollingUpdate:
        maxSurge: 1
        maxUnavailable: 0
    db:
      proxy:
        port: 5432
        livenessProbe:
          enabled: false
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 5
        readinessProbe:
          enabled: false
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 5
        resources:
          requests:
            memory: 500Mi
            cpu: 700m
    pool_size: 30
    readinessProbe:
      enabled: true
      initialDelaySeconds: 10
      periodSeconds: 5
      timeoutSeconds: 5
      successThreshold: 1
      failureThreshold: 5
    livenessProbe:
      enabled: false
      initialDelaySeconds: 10
      periodSeconds: 5
      timeoutSeconds: 5
      successThreshold: 1
      failureThreshold: 5
    resources:
      requests:
        memory: 1000Mi
        cpu: 2
    erlangNodeName: blockscout-indexer
  api:
    port: 4000
    strategy:
      rollingUpdate:
        maxSurge: 1
        maxUnavailable: 20%
    autoscaling:
        maxReplicas: 10
        minReplicas: 2
        target:
          cpu: 70
    db:
      proxy:
        port: 5432
        livenessProbe:
          enabled: false
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 5
        readinessProbe:
          enabled: false
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 5
        resources:
          requests:
            memory: 500Mi
            cpu: 700m
    pool_size: 30
    readinessProbe:
      enabled: true
      initialDelaySeconds: 10
      periodSeconds: 5
      timeoutSeconds: 5
      successThreshold: 1
      failureThreshold: 5
    livenessProbe:
      enabled: true
      initialDelaySeconds: 10
      periodSeconds: 5
      timeoutSeconds: 5
      successThreshold: 1
      failureThreshold: 5
    resources:
      requests:
        memory: 500Mi
        cpu: 500m
    erlangNodeName: blockscout-api
  web:
    port: 4000
    strategy:
      rollingUpdate:
        maxSurge: 1
        maxUnavailable: 20%
    autoscaling:
      maxReplicas: 5
      minReplicas: 2
      target:
        cpu: 70
    db:
      proxy:
        port: 5432
        livenessProbe:
          enabled: false
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 5
        readinessProbe:
          enabled: false
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 5
        resources:
          requests:
            memory: 500Mi
            cpu: 700m
    pool_size: 30
    readinessProbe:
      enabled: true
      initialDelaySeconds: 10
      periodSeconds: 5
      timeoutSeconds: 5
      successThreshold: 1
      failureThreshold: 5
    livenessProbe:
      enabled: true
      initialDelaySeconds: 10
      periodSeconds: 5
      timeoutSeconds: 5
      successThreshold: 1
      failureThreshold: 5
    sourcify:
      enabled: true
      serverUrl: https://sourcify.dev/server
      repoUrl: https://repo.sourcify.dev/contracts/full_match/
    resources:
      requests:
        memory: 250M
        cpu: 500m
    erlangNodeName: blockscout-web
  image:
    repository: gcr.io/celo-testnet/blockscout
    tag: v2.0.4-beta-celo
  healthy_blocks_period: 300
  db:
    # ip: must be provided at runtime # IP address of the postgres DB
    # connection_name: must be provided at runtime # name of the cloud sql connection
    # username: blockscout
    # password: password
    name: blockscout
    drop: "false"
  jsonrpc_http_url: http://tx-nodes-private:8545
  jsonrpc_ws_url: ws://tx-nodes-private:8545
  metadata_crawler:
    schedule: "*/30 * * * *"
    image:
      repository: gcr.io/celo-testnet/celo-monorepo
      tag: metadata-crawler-77a392216d4927e85ce4b683508fc0539aa92a34
