imagePullPolicy: IfNotPresent
promtosd:
  image:
    repository: gcr.io/google-containers/prometheus-to-sd
    tag: v0.3.2
  port: 6060
blockscout:
  image:
    repository: gcr.io/celo-testnet/blockscout
    tag: v2.0.4-beta-celo
  db:
    # ip: must be provided at runtime # IP address of the postgres DB
    # connection_name: must be provided at runtime # name of the cloud sql connection
    # username: blockscout
    # password: password
    name: blockscout
    drop: "false"
  jsonrpc_http_url: http://tx-nodes-private:8545
  jsonrpc_ws_url: ws://tx-nodes-private:8546
  metadata_crawler:
    schedule: "*/30 * * * *"
    image:
      repository: gcr.io/celo-testnet/celo-monorepo
      tag: metadata-crawler-33bb740ffb4ee7804046f48299f8686416afbe47