imagePullPolicy: IfNotPresent
blockscout:
  indexer:
    db:
      proxy:
        resources:
          requests:
            memory: 500Mi
            cpu: 500m
    pool_size: 30
    resources:
      requests:
        memory: 1000Mi
        cpu: 2
  api:
    autoscaling:
        maxReplicas: 3
        minReplicas: 2
        target:
          cpu: 70
    db:
      proxy:
        resources:
          requests:
            memory: 250Mi
            cpu: 500m
    pool_size: 10
    resources:
      requests:
        memory: 250Mi
        cpu: 500m
  web:
    host: baklava-blockscout.celo-testnet.org
    autoscaling:
      maxReplicas: 3
      minReplicas: 2
      target:
        cpu: 70
    db:
      proxy:
        resources:
          requests:
            memory: 250Mi
            cpu: 500m
    pool_size: 10
    sourcify:
      enabled: true
      serverUrl: https://sourcify.dev/server
      repoUrl: https://repo.sourcify.dev/contracts/full_match/
    resources:
      requests:
        memory: 250M
        cpu: 500m
