# Default values for ethereum.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

imagePullPolicy: Always

# Node labels for pod assignment
# ref: https://kubernetes.io/docs/user-guide/node-selection/
nodeSelector: {}

bootnode:
  image:
    repository: us.gcr.io/celo-testnet/geth-all
    tag: fc254b550a4993956ac7aa3fcd8dd4db63b8c9d2

celotool:
  image:
    repository: gcr.io/celo-testnet/celo-monorepo
    tag: celotool-dc5e5dfa07231a4ff4664816a95eae606293eae9

genesis:
  networkId: 1110
  network: testnet
  useGenesisFileBase64: true
  genesisFileBase64: ""

geth:
  image:
    repository: us.gcr.io/celo-testnet/geth
    tag: fc254b550a4993956ac7aa3fcd8dd4db63b8c9d2
  resources:
    requests:
      memory: "256Mi"
      cpu: "500m"
    limits: {}
    # limits:
    #   memory: "4Gi"
    #   cpu: "4"
  validatorResources: {}
  secondaryResources: {}
  proxyResources: {}
  txNodeResources: {}
  txNodePrivateResources: {}
  ws_port: 8546
  rpc_gascap: 10000000
  validatorExtraSnippet: |
    echo "Validator"
  secondayExtraSnippet: |
    echo "secondary-validator"
  proxyExtraSnippet: |
    echo "Proxy"
  txNodeExtraSnippet: |
    echo "txnode"
  txNodePrivateExtraSnippet: |
    echo "txnode-private"
    ADDITIONAL_FLAGS="${ADDITIONAL_FLAGS} --http.timeout.read 600 --http.timeout.write 600 --http.timeout.idle 2400"
  validatorAffinity: {}
  validatorNodeSelector: {}
  validatorTolerations: []
  secondaryAffinity: {}
  secondaryNodeSelector: {}
  secondaryTolerations: []
  proxyAffinity: {}
  proxyNodeSelector: {}
  proxyTolerations: []
  txNodeAffinity: {}
  txNodeNodeSelector: {}
  txNodeTolerations: []
  txNodePrivateAffinity: {}
  txNodePrivateNodeSelector: {}
  txNodePrivateTolerations: []
  storageClass: ssd
  maxpeers: 1150
  light:
    maxpeers: 1000
    serve: 70

# UpdateStrategy for statefulsets only. Partition=0 is default rollingUpdate behaviour.
updateStrategy:
  validators:
    type: RollingUpdate
    rollingUpdate:
      partition: 0
  secondaries:
    type: RollingUpdate
    rollingUpdate:
      partition: 0
  proxy:
    type: RollingUpdate
    rollingUpdate:
      partition: 0
  tx_nodes:
    type: RollingUpdate
    rollingUpdate:
      partition: 0
  tx_nodes_private:
    type: RollingUpdate
    rollingUpdate:
      partition: 0

gethexporter:
  image:
    repository: gcr.io/celo-testnet/geth-exporter
    tag: ed7d21bd50592709173368cd697ef73c1774a261

blockscout:
  image:
    repository: gcr.io/celo-testnet/blockscout
    webTag: web
    indexerTag: indexer
  db:
    # ip: must be provided at runtime # IP address of the postgres DB
    # connection_name: must be provided at runtime # name of the cloud sql connection
    # username: blockscout
    # password: password
    name: blockscout

domain:
  name: celo-networks-dev

ingressClassName: nginx

extraPodLabels:
  validator:
    mode: full
  secondary:
    mode: full
  proxy:
    mode: full
  txnode:
    mode: full
  txnode_private:
    stack: blockscout
    mode: archive

pvcAnnotations:
  validator: {}
  secondary: {}
  proxy: {}
  txnode: {}
  txnode_private: {}
