# Combination of pod labels and endpoints on which to scrape.

# Which k8s cluster to monitor.
cluster: baklavastaging

# Namespace where the podmonitor will be installed.
namespace: prometheus

# TODO: enable when kube state metrics pods have port names
# kubeStateMetrics:
#   enabled: true

# Each target specifies
# - service: the suffix used for the PodMonitor config
# - labels: how to find the right pods
# - k8sClustersToNamespace: where in k8s it is deployeds
# - endpoints: where to find the Prometheus metrics to scrape
# TODO: simplify the config by renaming all ports of interest to 'metric'
targets:
  - service: attestation-service
    labels:
      app: attestation-service
    k8sClustersToNamespace:
      alfajores: alfajores
      baklavastaging: baklava
    endpoints:
      - port: http
        path: /metrics

  - service: blockscout
    labels:
      app: blockscout
    k8sClustersToNamespace:
      alfajores: alfajores
      baklavastaging: baklava
      mainnet: rc1
    endpoints:
      - port: http
        path: /metrics/web  # Web & API
      - port: health
        path: /metrics/indexer  # Indexer

  - service: celo-fullnode
    labels:
      app: celo-fullnode
    k8sClustersToNamespace:
      baklava-europe-west1: baklava
      mainnet: rc1
      rc1-asia-east1: rc1
      rc1-europe-west1: rc1
      rc1-southamerica-east1: rc1
      rc1-us-east1: rc1
      rc1-us-west1: rc1
    endpoints:
      - port: pprof
        path: /debug/metrics/prometheus
 
  - service: eksportisto
    labels:
      app: eksportisto
    k8sClustersToNamespace:
      alfajores: alfajores
      mainnet: rc1
    endpoints:
      - port: prometheus
        path: /metrics

  - service: testnet
    labels:
      app: testnet
    k8sClustersToNamespace:
      alfajores: alfajores
      baklavastaging: baklava
    endpoints:
      - port: pprof
        path: /debug/metrics/prometheus
      - port: metrics
        path: /debug/metrics/prometheus

  - service: walletconnect
    labels:
      app.kubernetes.io/name: walletconnect
    k8sClustersToNamespace:
      alfajores: walletconnect
      mainnet: walletconnect
    endpoints:
      - port: http
        path: /metrics

relabels:
  - sourceLabels: [__name__]
    regex: (apiserver|etcd|erlang|kube|kubelet|nginx|phoenix|rest_client|state|storage)_.*
    action: drop
