apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-api
  labels:
    app: blockscout
    chart: blockscout
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    component: blockscout-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: blockscout
      release: {{ .Release.Name }}
      component: blockscout-api
  template:
    metadata:
      labels:
        app: blockscout
        release: {{ .Release.Name }}
        component: blockscout-api
    spec:
      containers:
      - name: blockscout-api
        image: {{ .Values.blockscout.image.repository }}:api-{{ .Values.blockscout.image.tag }}
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        command:
        - /bin/sh
        - -c
        args:
        - |
           exec mix cmd --app block_scout_web mix phx.server | sed 's/^iex(1)> //'
        ports:
        - name: http
          containerPort: 4000
        resources:
          requests:
            memory: 500Mi
            cpu: 500m
        env:
        - name: DISABLE_WEBAPP
          value: "true"
        - name: DISABLE_WRITE_API
          value: "true"
        - name: DISABLE_INDEXER
          value: "true"
{{ include "celo.blockscout-env-vars" .  | indent 8 }}
{{$data := dict "Values" .Values "DbSuffix" "-replica"}}
{{ include "celo.blockscout-db-sidecar" $data  | indent 6 }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
