apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-web
  labels:
    {{- include "celo.blockscout.labels" . | nindent 4 }}
    component: blockscout-web
  annotations:
    {{- include "celo.blockscout.annotations" . | nindent 4 }}
spec:
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: {{ .Values.blockscout.web.strategy.rollingUpdate.maxSurge }}
      maxUnavailable: {{ .Values.blockscout.web.strategy.rollingUpdate.maxUnavailable }}
  selector:
    matchLabels:
      app: blockscout
      release: {{ .Release.Name }}
      component: blockscout-web
  template:
    metadata:
      {{- if .Values.blockscout.metrics.enabled}}
      annotations:
        prometheus.io/path: /metrics
        prometheus.io/port: "4000"
        prometheus.io/scrape: "true"
      {{- end}}
      labels:
        app: blockscout
        release: {{ .Release.Name }}
        component: blockscout-web
        {{- include "celo.blockscout.elixir.labels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ .Release.Name }}-rbac
      initContainers:
        {{- include "celo.blockscout.initContainer.secrets-init" . | nindent 6 }}
      containers:
      {{- $data := dict "Release" .Release "Values" .Values "Database" .Values.blockscout.web.db }}
      {{- include "celo.blockscout.container.db-sidecar" $data | nindent 6 }}
      - name: blockscout-web
        image: {{ .Values.blockscout.image.repository }}:{{ .Values.blockscout.image.tag }}
        imagePullPolicy: {{ .Values.blockscout.image.pullPolicy }}
        command:
        - /secrets/secrets-init
        args:
        - --provider
        - google
        - /bin/sh
        - -c
        - |
           exec mix cmd --app block_scout_web "iex --cookie $ERLANG_COOKIE --name {{ .Values.blockscout.erlangNodeName}}@$(POD_IP) -e 'IEx.configure(default_prompt: \"\", alive_prompt: \"\")' -S mix do deps.loadpaths --no-deps-check --no-validate-compile-env, phx.server --no-compile"
        volumeMounts:
        - mountPath: /secrets
          name: temporary-dir
          readOnly: true
        ports:
        - name: http
          containerPort: {{ .Values.blockscout.web.port }}
        {{- if .Values.blockscout.web.readinessProbe.enabled }}
        readinessProbe:
          httpGet:
            path: /api/v1/health/liveness
            port: http
          initialDelaySeconds: {{ .Values.blockscout.web.readinessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.blockscout.web.readinessProbe.periodSeconds }}
          timeoutSeconds: {{ .Values.blockscout.web.readinessProbe.timeoutSeconds }}
          successThreshold: {{ .Values.blockscout.web.readinessProbe.successThreshold }}
          failureThreshold: {{ .Values.blockscout.web.readinessProbe.failureThreshold }}
        {{- end }}
        {{- if .Values.blockscout.web.livenessProbe.enabled }}
        livenessProbe:
          httpGet:
            path: /api/v1/health/liveness
            port: http
          initialDelaySeconds: {{ .Values.blockscout.web.livenessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.blockscout.web.livenessProbe.periodSeconds }}
          timeoutSeconds: {{ .Values.blockscout.web.livenessProbe.timeoutSeconds }}
          successThreshold: {{ .Values.blockscout.web.livenessProbe.successThreshold }}
          failureThreshold: {{ .Values.blockscout.web.livenessProbe.failureThreshold }}
        {{- end }}
        resources:
          requests:
            memory: {{ .Values.blockscout.web.resources.requests.memory }}
            cpu: {{ .Values.blockscout.web.resources.requests.cpu }}
        env:
        - name: PORT
          value: {{ .Values.blockscout.web.port | quote }}
        - name: DISABLE_INDEXER
          value: "true"
        - name: POOL_SIZE
          value: {{ .Values.blockscout.web.poolSize | quote }}
        - name: POOL_SIZE_API
          value: {{ .Values.blockscout.web.poolSizeReplica | quote }}
        - name: BLOCKSCOUT_HOST
          value: {{ .Values.blockscout.web.host | quote }}
        - name: ENABLE_SOURCIFY_INTEGRATION
          value: {{ .Values.blockscout.web.sourcify.enabled | quote }}
        - name: SOURCIFY_SERVER_URL
          value: {{ .Values.blockscout.web.sourcify.serverUrl | quote }}
        - name: SOURCIFY_REPO_URL
          value: {{ .Values.blockscout.web.sourcify.repoUrl | quote }}
        - name: CHAIN_ID
          value: {{ .Values.blockscout.chain.networkID | quote }}
        - name: JSON_RPC
          value: {{ .Values.blockscout.fullNodes.jsonrpcPublicHttp | quote }}
        - name: APPS_MENU
          value: {{ .Values.blockscout.web.appsMenu.enabled | quote }}
        - name: DISABLE_STATS
          value: {{ not .Values.blockscout.web.stats.enabled | quote }}
        - name: STATS_REPORT_URL
          value: {{ .Values.blockscout.web.stats.reportUrl | quote }}
        - name: MAKERDOJO_URL
          value: {{ .Values.blockscout.web.stats.makerdojo | quote }}
        - name: DISPLAY_REWARDS
          value: "{{.Values.blockscout.epochRewards.enabled}}"
        - name: SHOW_PRICE_CHART
          value: {{.Values.blockscout.web.homepage.showPrice | quote }}
        - name: SHOW_TXS_CHART
          value: {{.Values.blockscout.web.homepage.showTxs | quote }}
        - name: DISABLE_WRITE_API
          value: "false"
        - name: MY_REGION
          value: {{ .Values.blockscout.web.rpcRegion | quote }}
        - name: FLY_REGION
          value: {{ .Values.blockscout.web.rpcRegion | quote }}
        - name: PRIMARY_REGION
          value: {{ .Values.blockscout.web.primaryRpcRegion | quote }}
        - name: RE_CAPTCHA_PROJECT_ID
          value: {{ .Values.blockscout.secrets.recaptcha.projectId }}
        - name: RE_CAPTCHA_SITE_KEY
          value: {{ .Values.blockscout.secrets.recaptcha.siteKey }}
        - name: RE_CAPTCHA_API_KEY
          value: {{ .Values.blockscout.secrets.recaptcha.apiKey }}
        - name: RE_CAPTCHA_SECRET_KEY
          value: {{ .Values.blockscout.secrets.recaptcha.secretKey }}
        - name: SEGMENT_KEY
          value: {{ .Values.blockscout.secrets.segmentKey }}
        - name: CAMPAIGN_BANNER_BACKEND_URL
          value: {{ .Values.blockscout.secrets.campaignBannerApiUrl }}
        - name: CAMPAIGN_BANNER_REFRESH_INTERVAL
          value: "{{.Values.blockscout.campaignBanner.refreshInterval}}"
        - name: DISABLE_LIVE_UPDATES
          value: {{ .Values.blockscout.web.liveUpdates.disabled | quote }}
        {{- if .Values.blockscout.web.suffix.enabled }}
        - name: NETWORK_PATH
          value: /{{ .Values.blockscout.web.suffix.path }}
        - name: API_PATH
          value: /{{ .Values.blockscout.web.suffix.path }}
        - name: API_URL
          value: /{{ .Values.blockscout.web.suffix.path }}
        - name: ACCOUNT_POOL_SIZE
          value: {{ .Values.blockscout.web.accountPoolSize | quote }}
        - name: DISPLAY_TOKEN_ICONS
          value: {{ .Values.blockscout.web.tokenIcons.enabled | quote }}
        {{- end }}
        {{- include "celo.blockscout.env-vars" $data | nindent 8 }}
      volumes:
        {{- include "celo.blockscout.volume.cloudsql-credentials" . | nindent 8 }}
        {{- include "celo.blockscout.volume.temporary-dir" . | nindent 8 }}
      {{- $affinity := default .Values.blockscout.affinity .Values.blockscout.web.affinity -}}
      {{- with $affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- $nodeSelector := default .Values.blockscout.nodeSelector .Values.blockscout.web.nodeSelector -}}
      {{- with $nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
