apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-indexer
  labels:
    {{- include "celo.blockscout.labels" . | nindent 4 }}
    component: blockscout-indexer
  annotations:
    {{- include "celo.blockscout.annotations" . | nindent 4 }}
spec:
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: {{ .Values.blockscout.indexer.strategy.rollingUpdate.maxSurge }}
      maxUnavailable: {{ .Values.blockscout.indexer.strategy.rollingUpdate.maxUnavailable }}
  replicas: 1
  selector:
    matchLabels:
      app: blockscout
      release: {{ .Release.Name }}
      component: blockscout-indexer
  template:
    metadata:
      {{- if .Values.blockscout.metrics.enabled}}
      annotations:
        prometheus.io/path: /metrics/indexer
        prometheus.io/port: "4001"
        prometheus.io/scrape: "true"
      {{- end}}
      labels:
        app: blockscout
        release: {{ .Release.Name }}
        component: blockscout-indexer
    spec:
      serviceAccountName: {{ .Release.Name }}-rbac
      terminationGracePeriodSeconds: {{ .Values.blockscout.indexer.terminationGracePeriodSeconds }}
      initContainers:
      - name: "blockscout-init"
        image: "groundnuty/k8s-wait-for:1.3"
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        args:
          - job
          - {{ .Release.Name }}-migration
      containers:
      - name: blockscout-indexer
        image: {{ .Values.blockscout.image.repository }}:{{ .Values.blockscout.image.tag }}
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        command:
        - /bin/sh
        - -c
        args:
        - |
           exec mix cmd --app indexer "iex --name {{ .Values.blockscout.indexer.erlangNodeName}}@0.0.0.0 -e 'IEx.configure(default_prompt: \"\", alive_prompt: \"\")' -S mix run --no-compile"
        ports:
        - name: health
          containerPort: {{ .Values.blockscout.indexer.port }}
        {{- if .Values.blockscout.indexer.readinessProbe.enabled }}
        readinessProbe:
          httpGet:
            path: /health/readiness
            port: health
          initialDelaySeconds: {{ .Values.blockscout.indexer.readinessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.blockscout.indexer.readinessProbe.periodSeconds }}
          timeoutSeconds: {{ .Values.blockscout.indexer.readinessProbe.timeoutSeconds }}
          successThreshold: {{ .Values.blockscout.indexer.readinessProbe.successThreshold }}
          failureThreshold: {{ .Values.blockscout.indexer.readinessProbe.failureThreshold }}
        {{- end }}
        {{- if .Values.blockscout.indexer.livenessProbe.enabled }}
        livenessProbe:
          httpGet:
            path: /health/liveness
            port: health
          initialDelaySeconds: {{ .Values.blockscout.indexer.livenessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.blockscout.indexer.livenessProbe.periodSeconds }}
          timeoutSeconds: {{ .Values.blockscout.indexer.livenessProbe.timeoutSeconds }}
          successThreshold: {{ .Values.blockscout.indexer.livenessProbe.successThreshold }}
          failureThreshold: {{ .Values.blockscout.indexer.livenessProbe.failureThreshold }}
        {{- end }}
        resources:
          requests:
            memory: {{ .Values.blockscout.indexer.resources.requests.memory }}
            cpu: {{ .Values.blockscout.indexer.resources.requests.cpu }}
        env:
        - name: HEALTH_CHECK_PORT
          value: {{ .Values.blockscout.indexer.port | quote }}
        - name: DISABLE_WEBAPP
          value: "true"
        - name: POOL_SIZE
          value: {{ .Values.blockscout.indexer.pool_size | quote }}
        - name: METRICS_ENABLED
          value: "{{.Values.blockscout.metrics.enabled}}"
{{ include "celo.blockscout-env-vars" . | indent 8 }}
{{- $data := dict "Values" .Values "Database" .Values.blockscout.indexer.db }}
{{ include "celo.blockscout-db-sidecar" $data | indent 6 }}
{{ include "celo.blockscout-volumes" (dict "nfs_volumes" false "Release" .Release) | indent 6 }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
