apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-indexer
  labels:
    app: blockscout
    chart: blockscout
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    component: blockscout-indexer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: blockscout
      release: {{ .Release.Name }}
      component: blockscout-indexer
  template:
    metadata:
      labels:
        app: blockscout
        release: {{ .Release.Name }}
        component: blockscout-indexer
    spec:
      containers:
      - name: blockscout-indexer
        image: {{ .Values.blockscout.image.repository }}:{{ .Values.blockscout.image.tag }}
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        command:
        - /bin/sh
        - -c
        args:
        - |
           sleep 5
           mix cmd --app indexer iex -S mix | sed 's/^iex(1)> //'
        ports:
        - name: http
          containerPort: 4000
        resources:
          requests:
            memory: 500Mi
            cpu: 500m
        env:
        - name: DISABLE_WEBAPP
          value: "true"
{{ include "celo.blockscout-env-vars" .  | indent 8 }}
{{ include "celo.blockscout-db-sidecar" .  | indent 6 }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
