apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-indexer
  labels:
    {{- include "celo.blockscout.labels" . | nindent 4 }}
    component: blockscout-indexer
  annotations:
    {{- include "celo.blockscout.annotations" . | nindent 4 }}
spec:
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  replicas: 1
  selector:
    matchLabels:
      app: blockscout
      release: {{ .Release.Name }}
      component: blockscout-indexer
  template:
    metadata:
      labels:
        app: blockscout
        release: {{ .Release.Name }}
        component: blockscout-indexer
    spec:
      serviceAccountName: {{ .Release.Name }}-rbac
      terminationGracePeriodSeconds: 60
      initContainers:
      - name: "blockscout-init"
        image: "groundnuty/k8s-wait-for:1.3"
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        args:
          - job
          - {{ .Release.Name }}-migration
      containers:
      - name: blockscout-indexer
        image: {{ .Values.blockscout.image.repository }}:{{ .Values.blockscout.image.tag }}
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        command:
        - /bin/sh
        - -c
        args:
        - |
           exec mix cmd --app indexer "iex -e 'IEx.configure(default_prompt: \"\", alive_prompt: \"\")' -S mix"
        ports:
        - name: http
          containerPort: 4000
        readinessProbe:
          httpGet:
            path: /health/readiness
            port: http
          initialDelaySeconds: 10
          failureThreshold: 5
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /health/liveness
            port: http
          initialDelaySeconds: 10
          failureThreshold: 5
          periodSeconds: 5
        resources:
          requests:
            memory: 500Mi
            cpu: 1500m
        env:
        - name: DISABLE_WEBAPP
          value: "true"
        - name: POOL_SIZE
          value: {{ .Values.blockscout.indexer.pool_size | quote }}
{{ include "celo.blockscout-env-vars" .  | indent 8 }}
{{ include "celo.blockscout-db-sidecar" .  | indent 6 }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
