name: NPM install testing workflow
# By default the sha where it runs is latest commit on default branch
# https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#schedule
on:
  schedule:
    # daily at 19:00 UTC
    - cron: 0 19 * * *
  workflow_dispatch:
  pull_request:
    branches:
      - master

jobs:
  install-npm-package:
    name: ${{ matrix.package }} NPM package install
    runs-on: ubuntu-latest
    container:
      image: node:18-bullseye
    strategy:
      fail-fast: false
      matrix:
        package:
        - '@celo/utils@beta'
        - '@celo/contractkit@beta'
        - '@celo/celocli@beta'
    steps:
      - name: Install @celo/celocli dependencies
        if: matrix.package == '@celo/celocli@beta'
        run: |
          apt update
          apt install -y libusb-1.0-0-dev libudev-dev
          yarn global add node-gyp
      - name: Installing npm package
        run: yarn add ${{ matrix.package }}
      - name: Test celocli command
        if: matrix.package == '@celo/celocli'
        run: |
          yarn --cwd=packages/cli run celocli account:new
