name: 'CoreContracts: Devchain For Contract Release'
run-name: 'CoreContracts: Devchain For Contract Release'

on:
  schedule:
    # monthly on 1 at 0:00 UTC
    # TODO bring back to daily after it run on mainnet for a little while
    - cron: 0 1 * * *
  workflow_dispatch:
permissions:
  contents: read

jobs:
  generate-protocol-devchain:
    name: Generate protocol devchain used in celo-monorepo.yml workflow
    runs-on: ['self-hosted', 'monorepo-node18']
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        include:
          - tag: core-contracts.v14.anvil
            node-version: 18
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ matrix.tag }}
          fetch-depth: 0
          submodules: recursive
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: install foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: 'v1.0.0'
      - name: Install forge dependencies
        run: forge install
        working-directory: packages/protocol
      # Workaround for https://stackoverflow.com/questions/72978485/git-submodule-update-failed-with-fatal-detected-dubious-ownership-in-repositor
      # This is needed because some runners messup with permissions of git files and submodules. Particularly problematic for DinD runners (e.g. self-hosted+container arg)
      - name: Configure git safe directories
        run: git config --global --add safe.directory '*'
      - name: Generate devchain of previous release
        run: |
          yarn anvil-devchain:start-L2
          mkdir .tmp/devchain
          mv .tmp/devchain.json .tmp/devchain
          mv .tmp/l2-devchain.json .tmp/devchain
        working-directory: packages/protocol
      - name: Upload devchain as artifact
        uses: actions/upload-artifact@v4
        with:
          name: devchain-${{ matrix.tag }}
          path: packages/protocol/.tmp/devchain
          # Max retention time is 90 days for public repos
          # https://docs.github.com/en/actions/learn-github-actions/usage-limits-billing-and-administration#artifact-and-log-retention-policy
          retention-days: 90
